<?xml version="1.0" encoding="UTF-8"?>
<!-- This .launch file spawn the ddr robot in a specific point of -->
<launch>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find ddr)/urdf/my_robot_x.xacro'" />
    
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.5"/>
    
    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model robot -x $(arg x) -y $(arg y) -z $(arg z)" />

<!-- rosservice call gazebo/delete_model '{model_name: rrbot1}'  -->
</launch>
